---
title: "Loading Data From The Web"
author: "TACT"
date: 2019-05-27
description: "-"
type: technical_note
draft: false
---

Data from the web can also be easily read with pandas. to demonstrate this, we will perform a simple load of actual stock data

In [36]:
import pandas_datareader.data as web
from datetime import date
from dateutil.relativedelta import relativedelta

In [37]:
# read the last three months of data for GOOG
goog = web.DataReader('GOOG', "yahoo",
                     date.today() +
                     relativedelta(months=-3))

In [38]:
goog.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-02-26,1119.510010,1099.920044,1105.750000,1115.130005,1471300,1115.130005
2019-02-27,1117.979980,1101.000000,1106.949951,1116.050049,968400,1116.050049
2019-02-28,1127.650024,1111.010010,1111.300049,1119.920044,1542500,1119.920044
2019-03-01,1142.969971,1124.750000,1124.900024,1140.989990,1450300,1140.989990
2019-03-04,1158.280029,1130.689941,1146.989990,1147.800049,1446000,1147.800049

In [39]:
goog['Adj Close']

Date
2019-02-26    1115.130005
2019-02-27    1116.050049
2019-02-28    1119.920044
2019-03-01    1140.989990
2019-03-04    1147.800049
2019-03-05    1162.030029
2019-03-06    1157.859985
2019-03-07    1143.300049
2019-03-08    1142.319946
2019-03-11    1175.760010
2019-03-12    1193.199951
2019-03-13    1193.319946
2019-03-14    1185.550049
2019-03-15    1184.459961
2019-03-18    1184.260010
2019-03-19    1198.849976
2019-03-20    1223.969971
2019-03-21    1231.540039
2019-03-22    1205.500000
2019-03-25    1193.000000
2019-03-26    1184.619995
2019-03-27    1173.020020
2019-03-28    1168.489990
2019-03-29    1173.310059
2019-04-01    1194.430054
2019-04-02    1200.489990
2019-04-03    1205.920044
2019-04-04    1215.000000
2019-04-05    1207.150024
2019-04-08    1203.839966
                 ...
2019-04-12    1217.869995
2019-04-15    1221.099976
2019-04-16    1227.130005
2019-04-17    1236.339966
2019-04-18    1236.369995
2019-04-22    1248.839966
2019-04-23    1264.550049
2019-04-24    1256.000000
2019-04-25    1263.449951
2019-04-26    1272.180054
2019-04-29    1287.579956
2019-04-30    1188.479980
2019-05-01    1168.079956
2019-05-02    1162.609985
2019-05-03    1185.400024
2019-05-06    1189.390015
2019-05-07    1174.099976
2019-05-08    1166.270020
2019-05-09    1162.380005
2019-05-10    1164.270020
2019-05-13    1132.030029
2019-05-14    1120.439941
2019-05-15    1164.209961
2019-05-16    1178.979980
2019-05-17    1162.300049
2019-05-20    1138.849976
2019-05-21    1149.630005
2019-05-22    1151.420044
2019-05-23    1140.770020
2019-05-24    1133.469971
Name: Adj Close, Length: 63, dtype: float64